{% extends 'layout.html.twig' %}
{% block title %} --Enregistrement Voiture {% endblock %} 


{% block content %}
<h1 class="text-center"> Enregistrement Voiture</h1>
{{ form(formVoiture)}}

{% endblock %}